<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>nlphk</display-name>
  
  <!-- springmvc前端控制器 -->
  <servlet>
  	<servlet-name>springmvc</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  
  <!--  contextConfigLocation 配置springmvc加载配置文件（配置处理器、适配器等等）
  如果不配置contextConfigLocation，默认加载的是/WEB-INT/servlet名称-servlet.xml （springmvc-servlet.xml）
  -->
  <init-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>classpath:springmvc.xml</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<!-- 
  		第一种：*。action结尾DispatcherServlet进行解析
  		第二种：/， 所有访问的地址都由DispatcherServlet进行解析，对于静态文件的解析，我们需要配置不让DispatcherServlet解析
  		使用此种方法可以使用RESTfull风格
  		第三种：/* 这种配置不对，使用这种方法，最终转发到一个jsp的页面时，任然DispatcherServlet进行解析，不能根据jsp页面找到handler
  		
  	 -->
  	<url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
 <servlet-mapping>
   	 <servlet-name>default</servlet-name>
     <url-pattern>*.html</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   	 <servlet-name>default</servlet-name>
     <url-pattern>*.png</url-pattern>
 </servlet-mapping>
  
  <servlet-mapping>
   	 <servlet-name>default</servlet-name>
     <url-pattern>*.jpg</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
   	 <servlet-name>default</servlet-name>
     <url-pattern>*.css</url-pattern>
 </servlet-mapping>
 
   <servlet-mapping>
   	 <servlet-name>default</servlet-name>
     <url-pattern>*.gif</url-pattern>
 </servlet-mapping>
 
   <servlet-mapping>
   	 <servlet-name>default</servlet-name>
     <url-pattern>*.js</url-pattern>
 </servlet-mapping>
 
  <!-- post乱码问题 -->
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
 	<init-param>
 		<param-name>encoding</param-name>
 		<param-value>utf-8</param-value>
 	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>